// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


@import "window";

@import "old.noless";


.ractive-dynamodb-ui.theme-atom {
	& {
		@awspilot-background-color:  @tab-background-color-active;
		@awspilot-color: @text-color;

		@awspilot-miniheader-title-background: @tab-bar-background-color;
		@awspilot-miniheader-title-color: @text-color;
		@import (multiple,reference) "theme.noless";
	}
}
